<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Override flutter_background_service’s BackgroundService entry -->
        <service
            android:name="id.flutter.flutter_background_service.BackgroundService"
            android:exported="false"
            tools:replace="android:exported"
            android:foregroundServiceType="dataSync|connectedDevice" />
    </application>

</manifest>
